.actions {
  display: flex;
  justify-content: space-between;
}

.blue-title {
  color: #165FFB;
  font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

.toc {
  position: sticky;
  height: 400px;
  top: -5px;
}

.pre-block {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 450px;
  width: 780px;
  font-family: Consolas, serif;
}