.actions {
  display: flex;
  justify-content: space-between;
}

.blue-title {
  color: #165FFB;
  font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

.toc {
  position: sticky;
  height: max-content;
  top: 18px;
}

.pre-block {
  margin-top: 28px;
  margin-bottom: 28px;
  height: auto!important;
  width: auto!important;
  font-family: Consolas, serif;
}