html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
div.content-body {
    padding-bottom:150px;
}
footer {
    color: #FFF;
    text-align: center;
    position:absolute;
	bottom:0;
	left:0;
    width:100%;
	min-height:120px;
}
footer div.row {
    background-image: url('molecules.jpg');
    background-position: bottom center;
    padding: 20px;
}
.footer-fade {
    background: linear-gradient(to top, rgba(255,255,255,0) 90%, rgba(255,255,255,1));
    position: absolute;
    width: 100%;
	min-height:120px;
}
.navbar {
    margin: 0;
    border-width: 0;
    background-color: #333;
    color: #FFF;
    text-transform: lowercase;
}
.jumbotron {
    background-image: url('molecules.jpg');
    min-height: 400px;
}
.jumbotron-fade {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 90%, rgba(255,255,255,1));
    min-height: 400px;
    position: absolute;
    width: 100%;
}
.jumbotron-inner {
    background: white;
    background: linear-gradient(to left, rgba(255,255,255,0.5), rgba(255,255,255,0.9));
    width: 100%;
    min-height: 200px;
    position: absolute;
}
.jumbotron-outer {
    padding-top: 30px;
}
.catalog { 
    margin-top: -160px;
}
.navbar-nav>li>a {
    color: white;
    border-bottom: 2px solid #333;
    padding-bottom: 4px;
    margin-bottom: 8px;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    background-color: #333;
    border-bottom: 2px solid #44c5db;
}
a.navbar-brand {
    color: white;
}
a.navbar-brand:hover, a.navbar-brand:focus  {
    color: #44c5db
}
footer h4 {
    color: #44c5db;
}
ul.sociallist a {
    color: #FFF;
    font-size: 18px;
}
    ul.sociallist a:hover {
        color: #44c5db;
    }

footer img {
    width: 100px;
}

@media only screen and (min-width : 768px) {
    footer img {
        width: 178px;
    }

    ul.sociallist a {
        font-size: 22px;
    }
}
.btn-primary {
    background-color: #0889A9;
}
div.panel-default div.panel-heading {
    background-color: #1C815F;
    background: linear-gradient(to left, #1C815F, #0889A9);
    color: white;
}
.thumbnail, .panel {
    box-shadow: 1px 1px 3px #333;
}