.post p,
.post strong,
.post li,
.post pre,
.post span {
    font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

.post ul,
.post ol {
    list-style-type: square;
}

body{
    margin: 0;
    max-width: none;
}

.hero {
    position: relative;
}

.hero img {
    height: inherit;
    width: 100%;
    padding: 0 !important;
    object-position: top;
}

.img-cover{
    object-fit: cover !important;
}

@media only screen and (max-width: 500px) {
    .main-hero .hero-title{
        position:relative;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .main-hero .hero-title h2 {
        font-size: 25px;
    }

    #hero-label {
        font-size: 18px;
    }
}

.logo {
    object-fit: scale-down;
    height: 200px;
    background-color: rgb(235, 240, 240);
}

.swan-hex{
    width: 60%;
    margin: auto;
    display: block;
}

.description {
    min-height: 70px;
}

.cardinfo .card {
    min-height: 220px !important;
}

.cardinfo .card div p {
    font-size: 14px;
}

.card {
    border: 1px solid;
    border-radius: 0;
}

@media only screen and (max-width: 4200px) and (min-width: 1200px) {
    .card-head {
        min-height: 200px;
    }
}

@media only screen and (max-width:  1199px) and (min-width: 991px) {
    .card-head {
        min-height: 250px;
    }
}

@media only screen and (max-width: 990px) {
    .card-head {
        height: auto;
    }
}

@media only screen and (max-width: 4200px) and (min-width: 1200px) {
    .card-head-xl {
        min-height: 272px;
    }
}

@media only screen and (max-width:  1199px) and (min-width: 991px){
    .card-head-xl {
        min-height: 344px;
    }
}

@media only screen and (max-width: 990px) {
    .card-head-xl {
        height: auto;
    }
}
