---
layout: default
title: Unosquare R&D | Blog | Things we have learned
area: "blog"
---

<div class="content-home py-0">
    <div class="main-hero hero">
        <img src="/assets/rdblog.jpg" class="px-5" alt="Swan logo" />
        <div class="hero-title title-black">
            <h2 class="text-uppercase">Things we have learned</h2>
            <div id="hero-label">We want to share some things we have learned over the time at Unosquare R&D.</div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <!-- Blog posts -->
            {% for post in site.posts %}
            {% assign author = site.data.authors[post.author] %}
            <div class="post-head-container">
                <div class="date-block-container">
                    <span class="day">{{post.date.day}}</span>
                    <span class="month">{{post.date.month.ToString("MMM")}}</span>
                    <span class="year">{{post.date.yeay}}</span>
                </div>

                <div class="title-container">
                    <h2 class="title-header">
                        <a class="title-text" href="{{ post.url }}">
                            <span>{{post.title}}</span>
                        </a>
                    </h2>

                    <div class="author-container">
                        <h6 class="author-link">
                            By {{ author.name }}
                        </h6>
                    </div>
                    <markdown>{{ post.description }}</markdown>
                    <div>
                        {% for tag in post.tags %}
                        <span class="badge badge-info">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>